.car-card-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 3vh;
    background-color: var(--component-background);
    color: var(--component-font)
}

.car-card-wrapper.hidden {
    opacity: 0;
}

.car-card-wrapper:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.car-card-wrapper * {
    padding: 0;
}

.car-card-wrapper img {
    width: 100%;
    height: 20vh;
}


.model-info {
    text-align: center;
    font-weight: bold;
    font-size: 1vw;
    padding-top: 1vh;
}

.icons-wrapper {
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon-wrapper {
    display: flex;
}

.icon {
    width: 20%;
    align-self: center;
}

.icon-text {
    width: 100%;
    padding-left: 5%;
}

.button-wrapper {
    display: flex;
    width: 80%;
    padding-bottom: 2vh;
    padding-top: 1vh;
    margin: 0 auto;
    align-items: center;
    gap: 5%;
}

.button-wrapper p {
    color: var(--secondary-font);
    font-weight: bold;
    font-style: italic;
}

.button-wrapper .MuiButton-outlined {
    border-color: var(--secondary-font);
}

.button-wrapper .MuiButton-outlined:hover {
    border-color: var(--secondary-font);
    background-color: var(--secondary-background);
    color: var(--secondary-font)
}

.button-wrapper a {
    color: var(--secondary-font);
}