.detailed-car-wrapper {
    padding-top: 6vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
}

.main-content {
    display: flex;
}

.main-content .full-icons-wrapper {
    display: flex;
    flex-basis: 33%;
}

.main-content .icons-wrapper {
    background-color: var(--secondary-background);
    color: var(--secodary-font);
    padding: 0;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1%;
    flex-grow: 3;
    font-size: 1vw;
}

.main-content .icon-wrapper {
    display: flex;
}

.main-content .icon {
    padding-left: 5%;
}

.main-content .icon-text {
    vertical-align: middle;
    align-self: center;
    padding-left: 2%;
}

.main-content .price {
    background-color: var(--component-background);
    color: var(--component-font);
    width: 100%;
    height: 100%;
    padding: 0;
}

.price .icon-text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.main-content .img-wrapper {
    height: 35vh;
    flex-basis: 66%;
}

.main-content .img-wrapper img{
    width: 100%;
    height: 100%;
}