:root {
    --primary-background: #87CEEB;
    --secondary-background: #FFAF73;
    --primary-font: #2B2D42;
    --secondary-font: #4A2D0A;
    --component-background: #f7f7f7;
    --component-font: #283a3d;
}